<!DOCTYPE html>
<html>
    <head>
        <title> Library </title>
    </head>
</head>
<body>
    <h1> Look Inna Book </h1>
    <h3> Select Books </h3>
    <%= form_tag("/search", method: "POST") do %>
        <div class="form-group">
        <%= label_tag :bookName, "Book Name:" %>
        <%= text_field_tag :bookName, "", class: "form-control" %>
        </div>
        <div class="form-group">
        <%= label_tag :authorName, "Author Name:" %>
        <%= text_field_tag :authorName, "", class: "form-control" %>
        </div>
        <div class="form-group">
        <%= label_tag :ISBN, "ISBN:" %>
        <%= text_field_tag :ISBN, "", class: "form-control" %>
        </div>
        <div class="form-group">
        <%= label_tag :genre, "Genre:" %>
        <%= text_field_tag :genre, "", class: "form-control" %>
        </div>
        <%= submit_tag("Search") %>
    <% end %>
</body>
</html>